.blanco{
  color: black;
  background-color:white;
  border: red solid 3px
  }
  
  .negro{
  color: white;
  background-color: black;
  border: red solid 3px
  }
  
  .principal{
  width: 500px;
  margin: 0 auto;
  display: flex;
  
  }